#
# VSCode stuff
#
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

#
# Python stuff
#

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# for more see https://github.com/github/gitignore/blob/main/Python.gitignore

